{{ define "body" }}

    <div class="h5 bg-primary text-white text-center p-2 m-2"> Пожалуйста заполните контактную информацию </div>
    {{ if gt (len .Errors) 0 }}
        <ul class="text-dange mt-3">
            {{ range .Errors }}
                <li> {{ . }} </li>
            {{ end }}
        </ul>
    {{ end }}

<form method="post" class="m-2">
    <div class="form-group my-1">
        <label>Ваше имя:</label>
        <input name="name" class="form-control" value="{{ .Name }}" />
    </div>
    <div class="form-group my-1">
        <label>Название организации:</label>
        <input name="company" class="form-control" value="{{ .Company }}" />
    </div>
    <div class="form-group my-1">
        <label>Ваш email:</label>
        <input name="email" class="form-control" value="{{ .Email }}" />
    </div>
    <div class="form-group my-1">
        <label>Ваш телефон:</label>
        <input name="phone" class="form-control" value="{{ .Phone }}" />
    </div>
    <div class="form-group my-1">
        <label>Выберите предпочтительный вид связи для получения предложения о работе.</label>
        <select name="mailorcall" class="form-select">
            <option value="true" {{ if .MailOrCall }} selected {{ end }}> Написать на почту. </option>
            <option value="false" {{ if .MailOrCall }} selected {{ end }}> Позвоните нам! </option>
        </select>
    </div>
    <button class="btn btn-primary mt-3" type="submit"> Отправить контактные данные </button>
</form>

{{ end }}